@font-face {
    font-family: 'BlackLetter';
    src: url('../../assets/font/BlackletterExtrabold-51DV.ttf');
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; 
}

html,body{
    height: 100%;
    margin: 0%;
}

input{
    font-size: 25px;
    text-align: center;
    
}

.Title {
    height: 100vh;
    font-family:'BlackLetter';  
    font-size: xx-large;
    display:flex;
    justify-content: center;  
    align-items: center;
    flex-direction: column;   

    .entry:hover{
        color: aliceblue;
        cursor: pointer;
    }

    .entry:active{
        color: gold;        
    }
   
    .EntryForm{
        display: flex;
        flex-direction: row;        
        align-items: center;   
        
        
        .seed{
            border-width: 5px;
            width: 20vw;
            height: 5vh;
            margin-right: 1%;                
        }

        .seed.is-game-opening{
            animation-name: toGame;
            animation-duration: 5s;
            animation-fill-mode: forwards;
        }

       
    
    }

    .game{
        width:40vw;
        height:50vh;
        border-width: 5px;
        border-style: solid;
    }

    .game.is-game-closing{
        animation-name: toSeed;
        animation-duration: 5s;
        animation-fill-mode: forwards;
    }
}

@keyframes toGame {
    from {width: 20vw; height: 5vh;}
    to{width:50vw; height: 50vh;}
}

@keyframes toSeed {
    from {width: 50vw; height: 50vh;}
    to{width:20vw; height: 5vh;}
}